form{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 35% 1fr 1fr 1fr;
}

header{
  color: white;
  text-shadow: 3px 3px black;
  text-align: center;
  grid-column: 1/3;
  grid-row: 1/2;
  background-image: url(Houston.jpg);
  background-position: 600em;
  font-size: x-large;
}

button{
  width: 100px;
  height: 25px;
}

#hear{
padding-top: 50px;
background-color:lightgrey;
grid-column: 1/2;
grid-row: 2/3;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: x-large;
}

#contactyou{
  background-color: lightgrey;
  padding-top: 50px;
  grid-column: 2/3;
  grid-row: 2/3;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
}

#birthday{
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  grid-row: 3/4;
  grid-column: 1/3;
  text-align: center;
  align-items: center;
  padding-top: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
button{
  margin-top: 25px;
  background-color: cyan;
  font-size: medium;
}
@media (max-width: 500px) {
 form{ 
  display: flex;
  flex-direction: column;
 }


}